.navBarContainer {
    display: flex;
    background-color: rgb(255, 255, 0);
    justify-content: center;
}

.navBarContainer ul {
    justify-content: center;
    display: flex;
    gap: 10%;
}

.navBarContainer ul li {
    color: #707070;
    text-align: center;
    list-style: none;
}

.navBarContainer ul li a {
    text-decoration: none;
    color: #707070;
}

.navBarContainer ul li a:hover{
    color: #989898;
}

.navBarContainer ul li a:focus {
    outline: none;
    color: inherit;
}